body{
    background-image: url(../images/static.jpg);
}
#maintitle{
    width: 100vw;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: blanchedalmond;
}
#container{
 width: 100vw;
 height: 100vh;
 background-color: red;
 display: inline-flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-self: center;
 background-size:contain;
 background-size:cover;
}
}
#gallery{
 width: 100vw;
 height: 100vh;
 background-color: red;
 display: inline-flex;
 flex-direction: column;
 justify-content: flex-start;
 align-self: flex-start;
 background-size:contain;
 background-size:cover;
}
#gallery2{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    background-size:contain;
    background-size:cover;
   }
#box{
    width: 40vw;
    height: 70vh;
    padding: 20px;
    margin: 20px; 
    display: inline-block;
    background-size:contain;
    background-size:cover;
    contain: content;
}
.test{
    position: relative;
    background: url(../images/old_skyline_old.jpg);
    background-size: contain; 
    width: 110%;
    height:110%;
    background-repeat: no-repeat;
}
.test:hover{
    background: url(../images/old_skyline_new.jpg);
    background-size: contain; 
    width: 110%;
    height:110%;
    background-repeat: no-repeat;
    position: relative;
}
.test2{
    position: relative;
    background: url(../images/sunset_flag_old.jpg);
    background-size: contain; 
    width: 110%;
    height:110%;
    background-repeat: no-repeat;
}
.test2:hover{
    background: url(../images/sunset_flag_new.jpg);
    background-size: contain; 
    width: 110%;
    height:110%;
    background-repeat: no-repeat;
    position: relative;
}
