html{
    background-color: black;
}
#overseer{
    position: absolute;
    display: inline-block;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: -1;
    height: 65%;
    background-size: contain;
    contain: content;
    padding:25px;
    margin:20px;
}
#art{
    display: inline-flex;
}
#home{
    display: inline-flex;
}
#about{
    width:95vw;
    padding:20px;
    color:white;
    position: relative;
    display: inline-block;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: -1;

}
#intro{
    color:white;
    position: relative;
    display: inline-block;
    left:20%;
    top:80%;
    transform:translate(-50%,-50%);
    opacity: 0;
    z-index: -1;

}
#intro2{
    color:white;
    position: relative;
    display: block;
    left:18%;
    top:85%;
    transform:translate(-50%,-50%);
    opacity: .5;
    z-index: -1;
}
#intro3{
    color:white;
    position: relative;
    display: block;
    left:18%;
    top:85%;
    transform:translate(-50%,-50%);
    opacity: .5;
    z-index: -1;
}
#text{
    position: absolute;
    display: inline-flexbox;
    top: 80%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
